* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 790px;
}

div {
    background-color: hsl(0, 0%, 100%);
    width: 600px;
    height: 440px;
    border-radius: 20px;
    display: flex;
}

.image {
    width: 300px;
    height: 440px;
    border-radius: 20px 0 0 20px;
}

.product-description {
    background-color: hsl(0, 0%, 100%); 
    width: 300px;
    height: 440px;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    font-family: "Montserrat",serif;
    weight: 600px;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

.title {
    margin: 20px 0;
    color: hsl(212, 21%, 14%);
    font-family: "Fraunces",sans-serif;
    font-weight: 700px;
    font-size: 36px;
}

.description{
    font-family: "Montserrat",serif;
    font-weight: 500px;
    font-size: 14 px;
    color:hsl(228, 12%, 48%);
}

.price {
    margin: 20px 0;
    color: hsl(158, 36%, 37%);
    font-family:"Fraunces",sans-serif ;
    font-size: 30px;
    
}

.old-price {
    margin-left: 20px;
    font-family: sans-serif;
    color:hsl(228, 12%, 48%); 
    font-size: small;
}

button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    font-family: "Montserrat",serif;
    font-weight: 700px;
}

button:hover {
    background-color: red;
}

.cart{
    margin-right: 8px;
}